%h2= t('.sign_in')
= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  .form-group
    = f.label :email, class: 'control-label'
    = f.email_field :email, autofocus: true, class: 'form-control'
  .form-group
    = f.label :password, class: 'control-label'
    = f.password_field :password, autocomplete: "off", class: 'form-control'
  - if devise_mapping.rememberable?
    .form-group
      .checkbox
        %label
          = f.check_box :remember_me
          = resource.class.human_attribute_name(:remember_me)
  .actions
    = f.submit t('.sign_in'), class: 'btn btn-primary'

%br
= render "devise/shared/links"
